{% extends "base.html" %}
{% block body %}
<div id="body">
  <div id="log">
    {% for message in messages %}
    {% include "message.html" %}
    {% end %}
  </div>
  <div id="toolbar">
    <ul id="status">
      <li class="date" id="currentTime">12:59</li>
      <li><a id="usersLink" href="#">5 users</a></li>
      <li><a id="usersLink" href="/auth/logout">{{ _("Sign out") }} {{ escape(current_user) }}</a></li>
    </ul>
    <input tabindex="1" id="entry" type="text"/>
    <input type="hidden" id="next" value="{{ request.path }}"/>
    {{ xsrf_form_html() }}
  </div>

</div>
{% end %}
